{% extends 'base.html' %}
{% block content %}

<div class="main">
    <h1>Education</h1>

    <div class="timeline">

        <div class="edu-card fade-in">
            <h3 class="degree">Bachelor of Technology (CSE)</h3>
            <p class="school">Lovely Professional University</p>
            <p class="year">2023 - 2027</p>
            <p class="desc">
                Focused on Web Development, Cybersecurity, DSA, and Cloud Computing.
            </p>
            <div style="margin-top: 15px;">
                <span class="badge">Python</span>
                <span class="badge">Web Development</span>
                <span class="badge">Cybersecurity</span>
            </div>
        </div>

        <div class="edu-card fade-in">
            <h3 class="degree">Higher Secondary (12th)</h3>
            <p class="school">Mahatma Gandhi Inter College</p>
            <p class="year">2020 - 2022</p>
            <p class="desc">
                Strong foundation in Mathematics and Science.
            </p>
        </div>

        <!-- CARD 3 -->
        <div class="edu-card">
            <h3 class="degree">Secondary School (10th)</h3>
            <p class="school">Siddharth Public School</p>
            <p class="year">2018 - 2020</p>
            <p class="desc">
                Built academic base and interest in technology.
            </p>
            <div style="margin-top: 15px;">
                <span class="badge">Science Stream</span>
                <span class="badge">CGPA: 8.5+</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}